@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
    padding: 1%;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;

}

.nav {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.menu {
    display: flex;
    align-items: right;
    gap: 15%;
    margin-right: 4%;
}

.logo {
    font-size: 2rem;
}

.link {
    transition: 0.5s ease;
}

.link:hover {
    text-shadow: 2px 2px 0px #000;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.bar.cart-active {
    background-color: #000;
}

.off-screen-menu {
    z-index: 4;
}

@media(max-width: 600px) {

    .all {
        display: none;
    }

    .manager-section {
        padding: 0% 8%;
        margin-top: 15%;
    }

    .panel-manager {
        position: fixed;
        top: 150%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 66vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 10;
        padding: 5% 14%;
        background-color: #fff;
        animation: fadeIn 2s forwards, moveOn 0.5s forwards;
    }

    .panel-manager a {
        margin-top: 2%;
        background-color: black;
        width: 100%;
        text-align: center;
        padding: 7%;
        font-size: 1.1rem;
    }

    .panel-manager .delete-product {
        background-color: crimson;
    }

    .close-manager {
        position: absolute;
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 82%;
        margin-bottom: 160%;
    }

    .product-card-manager {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;
        padding: 4% 0%;
        border-bottom: solid 1px #acacac;
    }

    .product-card-manager .product-img{
        max-width: 8vh;
        max-height: 8vh;
    }

    .product-card-manager .product-img img{
        width: 100%;
        height: 100%;
    }

    .cart-msg {
        position: fixed;
        background-color: #000;
        width: 100%;
        text-align: center;
        padding: 8%;
        z-index: 30;
        transform: translate(-1%, -130%);
        animation-fill-mode: forwards;
        animation-duration: 0.4s;
        display: block;
        border-bottom: solid 1px #8b8b8b;
    }

    .cart-msg h2 {
        font-size: 1rem;
    }

    .slide-down {
        display: block;
        animation-name: slideDown;
    }
    
    .slide-up {
        animation-name: slideUp;
    }

    .cart-msg.disable {
        display: none;
    }

    .cart-msg {
        color: #fff;
    }

    .password-panel {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        text-align: center;
        z-index: 30;
        width: 70%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10%;
        border-radius: 5%;
    }

    .password-panel.disabled {
        display: none;
    }

    .password-panel label {
        font-size: 1.2rem;
        width: 90%;
    }

    .password-panel #pass {
        margin: 10% 0%;
        width: 90%;
        padding: 5%;
        font-size: 1rem;
        border: solid 1px #8d8d8d;
    }


    .password-panel .password-btn {
        padding: 6% 15%;
        background-color: #000;
        color: #fff;
        border-radius: 5%;
    }

    .password-panel .close2 {
        position: absolute;
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 80%;
        margin-bottom: 75%;
    }

    .apart {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .cart-btn {
        color: #fff;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 40%;
    }

    .cart-displayer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .xmark {
        transform: translateY(12%);
        position: absolute;
        font-size: 2.5rem;
        color: #000;
    }

    .counter-cart {
        background-color: red;
        position: absolute;
        font-size: 0.8rem;
        width: 5%;
        height: 2.5%;
        border-radius: 50%;
        margin-left: 5%;
        margin-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger {
        display: block;
        z-index: 5;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hamburger.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .off-screen-menu {
        background-color: black;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        overflow-x: hidden;
    }
    .off-screen-menu.active {
        right: 0px;
    }

    .main-links {
        position: absolute;
        transform: translateX(0%);
    }

    .other-links {
        position: absolute;
        transform: translateX(400%);
    }

    .hide-other ion-icon {
        position: absolute;
        margin-top: 13.5%;
        left: 22%;
    }
    
    .off-screen-cart {
        background-color: white;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        z-index: 4;
        display: flex;
        transition: .3s ease;
    }

    .off-screen-cart.desing-2 {
        background-color: white;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: 450px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        z-index: 4;
        display: flex;
        transition: .3s ease;
    }

    .off-screen-cart.active {
        right: 0px;
    }

    .off-screen-cart h1 {
        position: absolute;
        margin-bottom: 150%;
        font-size: 3rem;
    }

    .off-screen-cart a {
        position: absolute;
        background-color: #000;
        margin-top: 150%;
        width: 90%;
        text-align: center;
        padding: 5%;
    }

    .off-screen-cart.disable {
        display: none;
    }   

    .cart-total {
        text-align: left;
        font-size: 1.5rem;
        width: 90%;
        margin-top: 5%;
    }

    .empty-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-wrap: nowrap;
        font-size: 2.3rem;
        display: block;
    }

    .empty-text.no-display {
        display: none;
    }

    #cart-container {
        height: 50vh;
        overflow: scroll;
    }

    #cart-container::-webkit-scrollbar {
        display: none;
    }
    
    .cart-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85vw;
        height: 11vh;
        padding: 18% 0%;
        box-sizing: border-box;
        overflow: hidden;
        border-bottom: solid 1px #c2c2c2;
    }
    
    .item-data {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .cart-item img {
        width: 90px;
        height: auto;
        max-height: 100%;
        object-fit: contain;
    }
    
    .cart-item-info {
        padding-left: 15px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .cart-item h4 {
        font-size: 0.9rem;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cart-item .cart-item-size {
        font-size: 0.9rem;
        text-align: left;
        margin-top: -5%;
    }
    
    .cart-item p {
        font-size: 0.9rem;
        text-align: left;
        margin: 0;
        padding-bottom: 10px;
    }
    
    .cart-item-controls {
        display: flex;
        align-items: center;
        justify-content: left;
        flex-shrink: 0;
    }
    
    .cart-item-quantity {
        font-size: 1rem;
        padding: 0 10px;
    }
    
    .cart-item-controls .increment, .cart-item-controls .decrement {
        font-size: 1.3rem;
        color: #000;
    }

    .increment.disabled, .decrement.disabled {
        pointer-events: none;
        color: rgba(0, 0, 0, 0.4);
    }
    
    .remove-item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        color: #000;
        flex-shrink: 0;
        margin-left: 10px;
    }

    .menu {
        display: none;
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow-x: hidden;
    }

    .main-img-container {
        width: 60vh;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
    }

    .img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .main-text {
        text-align: center;
        padding: 10%;
        background-color: black;
        color: white;
        width: 100%;
    }

    .main-text h1 {
        margin-bottom: 3%;
        font-size: 2rem;
    }

    .sort {
        display: flex;
        justify-content: left;
        align-items: center;
    } 

    .drop-parent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: solid 1px #000;
        width: 30%;
        padding: 3% 5%;
        margin-left: 8%;
        margin-top: 5%;
        white-space: nowrap;
    }

    .drop-parent.active {
        width: 60%;
    }

    .dropdown {
        position: absolute;
        margin-left: 8%;
        transform: translateY(75%);
        background-color: #fff;
        width: 45%;
        text-align: left;
        font-size: 0.9rem;
        display: none;
        border: solid 1px #000;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        z-index: 5;
    }

    .dropdown.active {
        display: block;
    }

    .dropdown h4 {
        padding: 10%;
        white-space: nowrap;
    }

    .dropdown .border {
        border-bottom: solid 1px #9b9b9b;
    }

    .title-products {
        margin-top: 15%;
    }

    .title2 {
        font-size: 1.8rem;
        padding-left: 8%;
    }

    .products.last {
        margin-bottom: 20%;
    }


    .cards {
        display: flex;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 13%;

    }

    .card-container {
        width: 44%;
        height: 28vh;
        overflow: hidden;
    }

    .card {
        margin: 5%;
        /*transform: translateY(110%);
        display: none;
        opacity: 0;
        animation: fadeIn 2s forwards, moveOn2 0.8s forwards;*/
    }

    .card.show {
        display: block;;
    }

    .card.disabled {
        pointer-events: none;
        opacity: 0.8;
    }

    .card.disabled .img-container img {
        opacity: 0.8;
    }

    .card.disabled h1,
    .card.disabled h3 {
        opacity: 0.5;
    }

    .img-container {
        max-width: 100%;
        overflow: hidden;
    }

    .img-container img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .product-info {
        text-align: center;
        padding: 5%;
    }

    .card h1 {
        font-size: 1rem;
        margin-bottom: 2%;
    }

    .panel.disable {
        display: none;
    }

    .panel {
        position: fixed;
        top: 150%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 66vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 10;
        padding: 5% 14%;
        background-color: #fff;
        animation: fadeIn 2s forwards, moveOn 0.5s forwards;
    }

    .panel h4 {
        margin-bottom: 3%;
        font-size: 0.8rem;
    }

    .size-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .size-btn {
        width: 38px;
        padding: 4% 9%;
        margin: 0% 1.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
        background-color: rgba(255, 255, 255, 0);
        border: solid 1px #494949;
        border-radius: 10%;
    }


    .size-btn.active {
        color: #fff;
        background-color: #000;
        border: solid 1px #000;
    }


    .panel .product-info {
        margin-top: 2.5%;
        width: 100%;
    }

    .panel h5 {
        margin-top: 8%;
    }

    .panel a {
        margin-top: 2%;
        background-color: black;
        width: 100%;
        text-align: center;
        padding: 7%;
        font-size: 1.1rem;
    }

    a.wsp {
        background-color: #41d176;
    }

    .add-cart.disabled {
        pointer-events: none;
    }

    .buy-now.disabled {
        pointer-events: none;
    }

    .panel .add-cart {
        margin-bottom: 2%;
    }

    .panel h1 {
        font-size: 1rem;
        margin-bottom: 1%;
        margin-top: -5%;
    }

    .panel h3 {
        font-size: 1.2rem;
        margin-bottom: 3%;
    }

    .close {
        position: absolute;
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 82%;
        margin-bottom: 160%;
    }

    .overlay {
        width: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        width: 120%;
        height: 120%;
        background-color: rgba(0, 0, 0, 0.8);
        display: block;
        opacity: 0;
        animation: fadeIn 0.3s forwards;
    }

    .overlay.disable {
        display: none;
    }

    footer {
        background-color: #000;
        width: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10%;
    }

    .foot-menu {
        position: absolute;
        display: flex;
        left: 50%;
        top: 200%;
        transform: translate(-50%, 200%);
    }

    footer span {
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 3%;
    }

    .foot-menu span {
        width: 6.5vh;
        height: 5vh;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 3%;
    }

    footer span:nth-child(1), .foot-menu span:nth-child(1) {
        background-color: #E1306C;
    }

    footer span:nth-child(2), .foot-menu span:nth-child(2) {
        background-color: #4267B2;
    }

    footer span:nth-child(3), .foot-menu span:nth-child(3) {
        background-color: #25D366;
    }

    footer span:nth-child(4), .foot-menu span:nth-child(4) {
        background-color: #303030;
    }


    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

    @keyframes moveOn {
        to {
            top: 50%;
        }
    }

    @keyframes moveOn2 {
        to {
            transform: translateY(0%);
        }
    }

    @keyframes slideDown {
        from {
            transform: translate(-1%, -130%);
        }
        to {
            transform: translate(-1%, -5%);
        }
    }
    
    @keyframes slideUp {
        from {
            transform: translate(-1%, -5%);
        }
        to {
            transform: translate(-1%, -130%);
        }
    }

    @keyframes otherLinksIn {
        from {
            transform: translateX(400%);
        }
        to {
            transform: translateX(0%);
        }
    }

    @keyframes otherLinksOut {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(400%);
        }
    }

    @keyframes mainLinksIn {
        from {
            transform: translateX(-400%);
        }
        to {
            transform: translateX(0%);
        }
    }

    @keyframes mainLinksOut {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-400%);
        }
    }
}

@media(max-height: 700px) {

    .increment.disabled, .decrement.disabled {
        pointer-events: none;
        color: #808080;
    }

    .password-panel {
       height: 38%;
    }

    .off-screen-cart a.wsp {
        background-color: #41d176;
    }

    .panel {
        height: 80vh;
    }

    .size-btn {
        width: 35px;
    }

    .cards {
        margin-top: 13%;
    }

    .card h1 {
        font-size: 1rem;
    }

    .card-container {
        height: 35vh;
    }

    .counter-cart {
        height: 3%;
    }

    .off-screen-cart h1 {
        position: absolute;
        margin-bottom: 130%;
        font-size: 2.5rem;
    }

    .off-screen-cart a {
        position: absolute;
        background-color: #000;
        margin-top: 130%;
        width: 90%;
        text-align: center;
        padding: 5%;
    }

    .cart-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85vw;
        height: 14vh;
        box-sizing: border-box;
        overflow: hidden;
    }

    .cart-total {
        text-align: left;
        font-size: 1.5rem;
        width: 85%;
        margin-top: 5%;
    }

    .empty-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-wrap: nowrap;
        font-size: 2rem;
        display: block;
    }

    footer span a {
        font-size: 1.2rem;
    }

    .drop-parent h3 {
        font-size: 1rem;
    }
}

@media(max-width: 350px) {

    .increment.disabled, .decrement.disabled {
        pointer-events: none;
        color: #808080;
    }

    .off-screen-cart a.wsp {
        background-color: #41d176;
    }

    .panel {
        height: 56vh;
    }

    .panel .product-info h1 {
        font-size: 0.8rem;
    }

    .panel .product-info h3 {
        font-size: 1rem;
    }

    .panel .size-info h4 {
        font-size: 0.7rem;
    }


    .size-btn {
        width: 32px;
        font-size: 0.6rem;
    }

    .cart-item {
        padding: 20% 0%;
    }

    .close {
        font-size: 1.5rem;
    }

    .card {
        margin: 3%;
    }

    .password-panel {
        height: 28%;
     }

    .off-screen-cart h1 {
        position: absolute;
        margin-bottom: 180%;
        font-size: 2.5rem;
    }

    .off-screen-cart a {
        position: absolute;
        background-color: #000;
        margin-top: 180%;
        width: 90%;
        text-align: center;
        padding: 5%;
    }

    .cart-total {
        text-align: left;
        font-size: 1.5rem;
        width: 85%;
        margin-top: 10%;
    }

    .counter-cart {
        width: 6%;
    }

    .drop-parent h3 {
        font-size: 1rem;
    }
}